@mainColor:#1CA1C1;
@hoverColor:#F4F5F9;
@lightColor:#94A1B3;
@textColor:#596980;

@import "./toolbar.less";
@import "./preview.less";

.webix_formbuilder, .webix_drag_zone, .webix_formbuilder_helper {
    .webix_view, .webix_control button, .webix_control input, 
    .webix_control textarea, .webix_el_label, 
    .webix_inp_bottom_label, .webix_inp_label, 
    .webix_inp_top_label{
        font-family: 'Roboto';
    }

    .webix_list_item {
        border: none;
        &:focus {
            outline: none;
        }
        &.webix_selected {
            color: @textColor;
            background-color: #FFFFFF;
            svg{
                fill: @lightColor;
            }
            border-radius: 2px;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.10), 1px 1px 2px 0 rgba(0,0,0,0.10);
        }
        svg{
            display: block;
            float:left;
            padding-right:10px;
        }
        span {
            vertical-align: middle;
            font-size: 14px;    
            line-height: 20px;
        }
    }

    .webix_list {
        .webix_scroll_cont {
            &:first-child {
                padding-top: 8px;
            }
            &:last-child {
                padding-bottom: 8px;
            }
        }
    }

    .webix_formbuilder_properties {
        border-top:0px;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.10), 0 1px 2px 0 rgba(0,0,0,0.10);
        position:relative;
        z-index: 50;
        
        .webix_section .webix_template {
            font-size: 14px;
            font-weight: 500;
            color: @lightColor;
        }

        .webix_inp_label {
            color: @textColor;
            font-family: Roboto;    
            font-size: 14px;
        }
        
        .webix_el_colorpicker input, .webix_el_combo input,
        .webix_el_text input, .webix_el_richselect .webix_inp_static, 
        .webix_custom_checkbox {
            border-radius: 2px;
        }
    }
}
.webix_view.webix_formbuilder_properties >.webix_disabled {
    opacity: 0.7;
    cursor: not-allowed;
    background-color: #fff;
}

.webix_formbuilder_selected {
    box-shadow: 0 0 0 2px @mainColor;
    border-radius: 2px;
}

.webix_formbuilder_helper_article {
    padding: 20px;
    color: @textColor;
    svg{
        fill: @lightColor;
    }
    b{
        font-weight: 500;
    }
    h3{
        font-weight: 500;
        margin: 0;
    }
    h4{
        font-weight: 500;
        margin: 0;
        padding-top: 10px;
    }
    li{
        margin: 0;
    }
    .webix_formbuilder_helper_sublist {
        padding-left: 10px;
        li {
            list-style-type: none;
            margin: 8px 0 8px;
        }
        span {
            vertical-align: top;
            display: inline-block;
            width: 370px;
            margin-left: 15px;
        }
        .webix_formbuilder_helper_sublist_icon {
            padding: 5px;
            display: inline-block;
            background-color: transparent;
            width: 16px;
            vertical-align: middle;
            &.webix_formbuilder_helper_sublist_undo {
                padding: 0;
                width: 9px;
            }
            &.webix_formbuilder_helper_sublist_redo {
                padding: 0;
                margin-left: 2px;
                width: 9px;
            }
            svg {
                width: 16px;
            }
        }
        .webix_formbuilder_helper_sublist_undo svg, .webix_formbuilder_helper_sublist_redo svg {
            width: 9px;
        }
    }
    .webix_formbuilder_helper_sublist_keys  {
        li {
            list-style-type: disc;
            margin: 8px;
        }
    }
    .webix_formbuilder_helper_selection {
        margin: 0;
    }
}

.webix_formbuilder_helper_list {
    padding: 0;
    li {
        list-style-type: none;
    }
}

.webix_formbuilder_properties_form{
    .wfb_button{
        border-radius: 2px;
        &:focus{
            outline-style: none;
        }
        &:hover{
            svg{
                fill: @mainColor;
            }
        }
    }
}

.wfb_controls{
    position:relative;
    z-index: 50;
    border-top:0px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.10), 0 1px 2px 0 rgba(0,0,0,0.10);
}
.wfb_controls .webix_list_item{
    color: @textColor;
    border-left:2px solid transparent;
    svg{
        fill: @lightColor;
    }
    &:hover, &.webix_selected{
        background: @hoverColor;
        color: @mainColor;
        border-left:2px solid @mainColor;
        svg{
            fill: @mainColor;
        }
    }
}

.wfb_dbltext .webix_el_label{
    padding-right:7.5px;
    color: @textColor;
    font-size: 14px;
}

.wfb_button{
    .webix_template{
        position: relative;
        text-align: center;
        svg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: inline-block;
        }
    }
    cursor:pointer;
    border-style: none;
    &:hover{
        background-color: @hoverColor;
    }
    svg{
        fill: @lightColor;
    }
};