.webix_formbuilder_form{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cpattern id='a' width='10' height='10' patternUnits='userSpaceOnUse'%3E%3Cpath stroke-width='.5' stroke='%23EDEFF0' fill='%23FFFFFF' d='M0 0h10v10H0z'/%3E%3C/pattern%3E%3C/defs%3E%3Cpath fill='url(%23a)' stroke='%23DADEE0' d='M0 0h100v100H0z'/%3E%3C/svg%3E");
}

.wfb_preview_mode .webix_formbuilder_form{
    background-image: none;
}

.wfb_blockarea{
    position: absolute;
    border: 2px solid @mainColor;
    background-color: rgba(28, 161, 193, 0.2);
}