.wfb_mainbar{
	position:relative;
	z-index: 100;
}

/*top view*/
.wfb_mainbar{
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.10), 0 1px 2px 0 rgba(0,0,0,0.10);
	background-color: #FFFFFF;
    .webix_segment_N, .webix_segment_0, .webix_segment_1  {
        border: none;
        color: @textColor;
        background-color: @hoverColor;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
		&.webix_selected, &.webix_selected:focus,  &.webix_selected:hover{
			background-color: @mainColor;
			color: #FFFFFF;
        }
		&:hover{
			color: @mainColor;
		}
		&:active{
			box-shadow: none;
		}
    }
	.webix_segment_0{
		border-radius:2px 0 0 2px;
	}
	.webix_segment_N{
		border-radius: 0 2px 2px 0;
	}
    .wfb_button{
		border-radius: 50%;
		&:focus{
			outline:none;
		}
	}
	.undoRedo svg{
		fill: @mainColor;
	}
	.trash{
		&:hover{
			background: rgba(255,92,76,0.15);
			svg{
				fill: #FF5C4C;
			}
		}
	}
	.separator{
		border-left: 2px solid #D8E2F0;
		border-right: none;
	}
	.help{
		&:hover svg{
			fill: @mainColor;
		}
	}
	.logo{
		height: 100%;
		background-size: 36px auto;
		&:hover{
			background-color: @hoverColor;
			border-radius: 50%;
		}
	}
	.title{
		border:none;
		margin-right: 19px;
		.webix_template{
			color: @lightColor;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 4px;
		}
	}

	.webix_view.wfb_button>.webix_disabled{
		background-color: transparent;
	}

	.webix_view.wfb_button.undoRedo.webix_disabled_view,
	.webix_view.wfb_button.trash.webix_disabled_view{
		cursor: default;
		svg {
			fill: @lightColor;
		}
		&:hover{
			background-color: transparent;
		}
	}
}