:root {
  --all-size: 100vh;
  --footer-size: 30px;
  --header-size: 38px;
  --tabbar-size: 48px;
  --main-background: white;
  --footer-background: #1ca1c1;
  --body-background: white;
  --acc-background: #ebedf0;
  --overview-size: 0px;
  --vertical-margin-size: 3px;
  --chartcount: 3; /* должно быть больше чем количество всех графиков */
  /* --body-background: rgb(80, 78, 78); */
  --chartArea: calc(100vh - var(--footer-size) - var(--vertical-margin-size) - var(--header-size) * 2 - var(--tabbar-size)) ;
  --infoArea: calc(100vh - var(--footer-size) - var(--header-size) - var(--tabbar-size));   
}
.App {
  text-align: center;
  display: flex;
  background: var(--body-background);
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainrow {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
  height: calc(100vh - var(--footer-size));
}

#leftMenuIDforResize12 {
  height: calc(100vh - 51px);
}

.left {
  background: rgb(255, 255, 255);
  /* height: calc(100vh - var(--footer-size) - var(--header-size) + 4px); */
  /* height: calc(100% - var(--header-size) + 10px); */
  /* height: 100%; */
  width: 20vw;
  /* height: 30px; */
}

.left > div {
  /* height: 100%; */
}

.webixitem {
  /* height: 90vh; */
  height: 100%;
  width: 100%;
  background: #ebedf0;
}

.main {
  background: var(--main-background);
  flex-grow: 1;
  /* height: calc(100vh - var(--footer-size) - var(--header-size)); */
  height: 100%;
  width: 80vw;
}

.footer1 {
  height: var(--footer-size);
  background: #61dafb;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.footer {
  position: fixed;
  height: var(--footer-size);
  background-color: var(--footer-background);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  color: white;
}

.footer > div {
  background-color: var(--footer-background) !important;
}

.footer_label > div {
  color: white !important;
  background-color: var(--footer-background);
  text-align: left;
  padding-left: 20px;
  line-height: 24px !important;
}

.footer_label_right > div {
  color: white !important;
  background-color: var(--footer-background);
  text-align: right;
  padding-right: 20px;
  line-height: 24px !important;
}
.header_label > div {
  color: white !important;
  background-color: var(--footer-background);
  text-align: center;
}

.demoscroll {
  height: 50vh;
}
.color-icon {
  display: inline-block;
  width: 100%;
  height: 70%;
  margin-top:5px;
}

.myInput {

  padding-left: 5px;

  margin: 5px;
}

.chartContainer {
  width: 100%;
  display: grid;
  flex-grow: 1 ;
  visibility: visible;
  position: relative;
  overflow: hidden;

  /*    height: calc(var(--chartArea) / var(--chartcount));*/
}

.chart {
  width: 100%;
  /*Расчёт высоты графика нужен, чтобы автоматически изменять размеры диаграмм при изменении высоты окна браузера*/
  /*    height: calc(var(--chartArea)  / var(--chartcount) - var(--overview-size));  */
  overflow: hidden;
}

.wrapper {
  border: 2px solid #ebedf0;
  background-color: white;
  display: flex;
  flex-direction: column; 
  align-items: stretch; 
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 0; 
  /* set height to 0 for autogenerated grid rows */
  overflow-y: hidden; /* hide grid items that overflow */
  height: calc(var(--chartArea));
}

.chartoverview {
  width: 100%;
  height: calc(var(--overview-size));
}

.headerlogo {
  height: var(--header-size);
  background: #283538; 
  background-image: url("./logo/logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  height: var(--header-size);
  background: var(--footer-background);
}

.webix_view .webix_scrollview {
  background: #ebedf0;
}

/* .webix_view .webix_control .webix_el_toggle .webix_primary {
    width: 50% !important;
} */

#devicesParametersTab {
  height: calc(100vh - var(--footer-size) - var(--header-size) * 2);
}

#PLCParametersTab {
  height: calc(100vh - var(--footer-size) - var(--header-size) * 2);
}

.header-template {
  text-align: center; 
  justify-content: center;
  background-color: #f3f4f6; 
  border-bottom:1px solid #61dafb;
  height: 41px;
  margin-left: -12px;
  margin-right: -11px;
  
}



.devicesControlFrameTab {
  /* height: calc(100vh - var(--footer-size) - var(--header-size) * 2 - 150px) !important; */
  /* height: 650px; */
  margin-bottom: 150px;
}

.webix_cell {
  font-size: 13px;
}

#dev_controlLayout {
  height: calc(100vh - var(--footer-size) - var(--header-size) * 2); 
  /* height: 150px; */
}
#plc_controlLayout {
  height: calc(100vh - var(--footer-size) - var(--header-size) * 2); 
  /* height: 150px; */
}

#viewDevices {
  height: 10vh;
}
.deviceLabel > div {
  background-color: #1ca1c1 !important;
  color: #ffffff !important;
  /* height: 38px; */
}
#viewPLC {
  height: 10vh;
}

.no_editable {
  /* border: 0px solid white !important; */
  /* background: white !important; */
}
.editable {
  border: 2px solid #b6e2ec !important;
  /* border: 1px solid #454e50 !important;
    background: #d3eaf0 !important; */
}

 .label_white {
  color: white
 }
 
 .label_disabled {
  color: silver
 }

 

.infoPic0 {
  background-image: url(./pictures/pic1.jpg) !important;
  height: 547px !important;
  /* width: 10vh !important; */
  width: 300px !important;
  background-repeat: no-repeat;
}

.infoPic1 {
  background-image: url(./pictures/pic2.jpg) !important;
  height: 547px !important;
  background-size: contain;
  /* width: 10vh !important; */
  width: 550px !important;
  background-repeat: no-repeat;
}

.infoPic2 {
  background-image: url(./pictures/pic3.jpg) !important;
  height: 547px !important;
  /* width: 10vh !important; */
  background-size: contain;
  width: 550px !important;
  background-repeat: no-repeat;
}

.infoPic3 {
  background-image: url(./pictures/pic4.jpg) !important;
  height: 547px !important;
  /* width: 10vh !important; */
  background-size: contain;
  width: 550px !important;
  background-repeat: no-repeat;
}

.infoPic4 {
  background-image: url(./pictures/pic5.jpg) !important;
  height: 547px !important;
  /* width: 10vh !important; */
  background-size: contain;
  width: 550px !important;
  background-repeat: no-repeat;
}

.infoPic5 {
  background-image: url(./pictures/pic6.jpg) !important;
  height: 547px !important;
  /* width: 10vh !important; */
  background-size: contain;
  width: 550px !important;
  background-repeat: no-repeat;
}

.infoPic6 {
  background-image: url(./pictures/pic0.jpg) !important;
  height: 547px !important;
  /* width: 10vh !important; */
  background-size: contain;
  width: 550px !important;
  background-repeat: no-repeat;
}

.infoParamPict {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.webix_formbuilder_form1 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cpattern id='a' width='10' height='10' patternUnits='userSpaceOnUse'%3E%3Cpath stroke-width='.5' stroke='%23EDEFF0' fill='%23FFFFFF'  d='M0 0h10v10H0z'/%3E%3C/pattern%3E%3C/defs%3E%3Cpath fill='url(%23a)'    stroke='%23DADEE0' d='M0 0h100v100H0z'/%3E%3C/svg%3E");
  position: relative; 
  width: 100% !important; 
  height: 2000px !important;
  margin-right: 300px;
  margin-bottom: 150px;
  opacity: 0.6;
}

.webix_formbuilder_form {
  background: rgba(255, 255, 255, 0.5); 
  background-image: linear-gradient(rgb(228, 228, 228) 2px, transparent 0), 
	linear-gradient(90deg, rgb(228, 228, 228) 2px, transparent 0), 
	linear-gradient(rgba(217, 217, 217, 0.3) 1px, transparent 0), 
	linear-gradient(90deg, rgba(217, 217, 217, 0.3) 1px, transparent 0); 
  background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
  position: relative; 
  /* width: 120% !important;  */
  width: 1930px !important; 
  height: 956px !important;
  margin-right: 15px;
  margin-bottom: 15px;
}

.webix_formbuilder_form_run{
  background-color: rgba(0, 0, 0,0) ;
  background-image: none;
  opacity: 1;
}

.scroll_form {
  overflow:auto;
  margin-bottom: 150px;
  /* background: url("http://localhost:3000/static/pictures/pic0.jpg"); */
  background-repeat: no-repeat;
  
}

.webix_formbuilder_selected {
  box-shadow: 0 0 0 2px #1CA1C1;
  border-radius: 2px;
}

.drag_icons {
  float: left;
  /* padding-left: 10px; */
}

.drag_icons_text {
  padding-top: 7px;
  padding-left: 15px;
  user-select: none;
}

.marging_right_10 {
  margin-right: 10px;
}

.marging_right_20 {
  margin-right: 20px;
}

.addElementToViewStyle_button >.webix_el_box >.webix_button {
  padding: .3em .8em;
  border: 1px solid rgba(0,0,0,.1);
  background: rgb(0, 109, 131) linear-gradient(hwb(192 61% 8%), rgb(0, 109, 131));
  border-radius: .2em;

  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  color: white;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  font-size: 100%;
  line-height: 1.5;
}

.addElementToViewStyle_button > .webix_el_box > .webix_button:active {
  background: linear-gradient(rgb(108, 171, 184), hwb(192 50% 16%) 23%, hwb(192 40% 26%) 63%, rgb(0, 120, 144) 90%,rgb(0, 109, 131));
  color:#dfdfdf;
  font-size: 97%;
  line-height: 1.6;
}

.addElementToViewStyle_combo > .webix_el_box > input {
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
}

.addElementToViewStyle_text > .webix_el_box > input {
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
}

.addElementToViewStyle_slider > label {
  padding-left: 14px;
  text-shadow: 0 -.05em .05em rgba(255, 255, 255, 0.5);
}

.addElementToViewStyle_slider > .webix_el_box > .webix_slider_box > .webix_slider_right {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  padding-bottom: 3px;
  border-radius: 5px;  
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #c9c9c9;
  outline: none;
  box-shadow: inset 0 .05em .25em rgba(0,0,0,.5);
}

.addElementToViewStyle_slider > .webix_el_box > .webix_slider_box > .webix_slider_left {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgb(0, 109, 131) linear-gradient(hwb(192 61% 8%), rgb(0, 109, 131));
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
}

.addElementToViewStyle_slider > .webix_el_box > .webix_slider_box > .webix_slider_handle {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%; 
  /* background: radial-gradient(ellipse at top, #e66465, transparent),
              radial-gradient(ellipse at bottom, #4d9f0c, transparent); */
  /* background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);; */
  /* background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%); */
  background-color: #1CA1C1;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    rgb(0, 109, 131) 0%,
    rgb(219, 249, 252) 100%
  );
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
}


.modeCss{
  margin-right: 10px;
}
.labelCss {
  color: black; 
  border-top: 2px solid #e9e9e9; 
  border-bottom: 2px solid #e9e9e9; 
  height: 40%; 
  width: 100px;
  margin-left: -10px;
  margin-top: -2px;
  display: flex; 
  text-align: center; 
  align-items: center;
  overflow: visible;
  line-height: 37px;
  flex-grow: 1; 
  justify-content: center; 
  font-size: 12px;
  
}
.tempCss{
  color: #1ca1c1; 
  height: 100%; 
  line-height: 28px;
  justify-content: center; 
  font-weight:500;
  font-size:16px;
  margin-top: 4px;
  margin-left: -4px;
}
.custom-margin-right {
  margin-right: -13px !important;
  height: 20px !important;
  font-size:10px !important;
  display: inline-flex !important; 
  align-items: center !important;
 
}
.custom-margin-left{
  margin-left: -1px !important;
  height: 20px !important;
  font-size:10px !important;
  display: inline-flex !important; 
  align-items: center !important;


}
.templCss{
  color: #1ca1c1;  
  justify-content: center; 
  font-weight:500;
  font-size:12px;
  margin-left: -4px;
}
.triggerCss{
color:black;
justify-content: center; 
font-size:12px;
margin-left: -12px; 
text-align: left;
}
.custom-row-spacing {
  margin-bottom:-17px;
}

.button-icon1{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -3px;

}
.button-icon1 svg {
  width: 25px;
  height: 32px; 
  fill: currentColor; 
}

.button-icon2{
  display: inline-block;
  vertical-align: middle;
}
.button-icon2 svg {
  width: 14px;
  height: 14px; 
  fill: currentColor; 
}
.button-icon3 svg {
  width: 18px;
  height: 20px; 
  fill: currentColor; 
  
}
.button-icon3 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -1px;
}



